.container img{
    height: 350px;
    width: 350px;
    padding-right: 15px;
    margin-top: 40px;
    
}
.container p{
    margin: 0%;
    padding: 0%;
}
.banner-image img{
    height: 30%;
    width:100%;
   
}
.home-banner h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.home-banner p{
    position: absolute;
    top: 57%;
    width: 100%;
    text-align: center; 
}
.home-banner h2{
    position: absolute;
    top: 63%;
    width: 100%;
    text-align: center; 
}

.home-banner a{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center; 
}
.home-banner{
    position: relative;
    margin: 15px;
}